<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    
    {% include header.html %}

  
    <main>
      
        {{ content }}
      
    </main>

    {% include footer.html %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src={{ "/assets/js/materialize.min.js" | relative_url }}></script>
    <script type="text/javascript" src={{ "/assets/js/jquery.matchHeight.js" | relative_url }}></script>
    <script>
      $( document ).ready(function() {
          console.log( "document loaded" );
          $(".dropdown-button").dropdown();
          $('.parallax').parallax();
          $('.home-card').matchHeight({
                byRow: true,
                property: 'height',
                target: null,
                remove: false
          });
          $('.fixed-height-card').matchHeight({
                byRow: true,
                property: 'height',
                target: null,
                remove: false
          });
          $('.scrollspy').scrollSpy();
          $('.fixed-pos').pushpin({
            offset: 120
          });
          $('.md-content').find('img').addClass( "responsive-img" );
      });
   
      $( window ).on( "load", function() {
          console.log( "window loaded" );
      });
      </script>
  </body>

</html>
